body { 
    margin: 0px;
    padding: 0px;
    /* background-color:#4CAF50;   */
    display: flex;
    justify-content: center;
    margin:50px auto;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/src/assets/01.jpeg) !important;
}

.container {
    display: flex;
    flex-direction: column; 
    height: 520px;
    width: 320px;

}

.calculator { 
    display:flex; 
    flex:1;
    flex-direction: column;
    border-radius:03px;
    /* border:2px solid black;  */
    background-color:whitesmoke;
    box-shadow: 13px 15px rgba(110, 110, 110, 0.651);
}

h1 {
    text-align: center;
    font-family: 'Lemonada', cursive;
    color:black;
    font-size: 20px;

 }

.result { 
    height:120px;
    
    display:flex;
    justify-content: center;
    align-items: center;
}

#visor { 
    text-align: center;
    height: 80px;
    min-width:275px;
    font-size: 35px;
    outline:none; 
    padding:10px;
    border:none;  
    font-family: 'Chilanka', cursive;
    font-weight: bolder;
}


.keyboard { 
    display:flex; 
    flex-direction: column;
    /* row-gap:7px;  */
    margin-top:7px; 
}

.line { 
    display:flex; 
    margin-bottom: 5px;
}

.buttons button { 
    column-gap: 5;
    width: 75px;
    height: 70px;
    border:0.5px solid ghostwhite;
    outline:none; 
    border-radius:3px; 
    padding: 10px;
    /* background-color:rgb(197, 197, 197);  */
    color:black;
    cursor: pointer; 
    transition: all 500ms;
    /* margin-bottom: 5px; */
}

.number:hover {
    /* background-color:rgba(124, 123, 123, 0.747); */
    border: 1px solid black;
    border-radius:10px; 
}

.operator, .number { 
    flex:1; 
    column-gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Chilanka', cursive;
    font-weight: bolder;
    font-size: 15px;
}

#Clear { 
    background-color:orange !important;
    color:white;
}
#Backspace { 
    background-color: orangered;
    color:white;
}
#Porcent {
    background-color:royalblue;
    color:white;
}
#Equal { 
    background-color:#4CAF50;
    color:white;
}
#Division,  #Multiplication, #Addition, #Subtraction { 
    background-color:#4285f4;
    color:white;
}


.operator:hover { 
    border-radius:10px; 
}

